/* ================================= 
  Media Queries
==================================== */

@media (min-width: 650px) {
  
  .main-header, .main-nav {
    display: flex;
  }
  
  .main-header {
    flex-direction: column;
    align-items: center;
    background-color:white;
  }
  
  .content {
    margin: 2em;
  }

  .main-header h1 {
    margin: 5px auto 0px;
    padding-top: 0px;
  }

  .main-header ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0px;
  }
  
  .main-nav li{
    margin: auto 30px;
  }
  
  #resume a {
  text-decoration: none;
  background-color:white;
  color: coral;
  }
}

@media (min-width: 1025px) {
  
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
  }
  
  .main-header h1 {
  margin: auto 70px;
  }

  .main-header ul {
    margin: 0 70px 0 0;
  
  }
  
  #resume a {
  text-decoration: none;
  background-color:coral;
  color: white;
  }
}